@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* text-transform: capitalize; */
    box-sizing: border-box;
    text-decoration: none;
}



.logo-img img {
    padding-top: 4px;
    width: 130px;
}

:root {
    --dark-green: #112a34;
    --green-color: #004047;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
    scroll-behavior: smooth;
}

section {

    width: 100%;
}

.label {
    font-size: 1.1rem;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
}


.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.conteiner {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #323232;
}


/* header start  */

.header {
    font-family: 'Poppins', sans-serif;
    min-height: 30px;
}

.header__top {
    background-color: #112a34;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    min-height: 20px;
}

hr {
    margin: 0 0 0 0;
}

.header__btn {
    float: right;
    line-height: 36px;
    color: #eee;
    padding: 5px 16px 4px 8px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: relative;
    
}

.header__btn2 {
    float: right;
    line-height: 36px;
    color: #eee;
    padding: 5px 16px 4px 8px;
    font-size: 16px;
    display: block;
    position: relative;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #ffffff;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\e942";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #c03;
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #c03;
}


.header-content {
    padding: 17px 0px;
}

.logo-img {
    width: 150px;
}

.header-content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline-block;
}

.menu a.active {
    border-color: #c03;
}


.menu a {
    font-family: 'Poppins', sans-serif;
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}

.menu a:hover {
    border-color: #c03;
}

.menu li+li {
    padding-left: 10px;
}

#modal {
    display: none;
}

/* header end  */


/* main start  */

.slider {
    background-image: url(../images/airliner-airport-runway-apron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 625px;

}

.slider-item-content {
    text-align: center;
    padding-top: 220px;
    max-width: 600px;
    margin: 0 auto;

}

.slider-title {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 0;
    margin-bottom: 0;
    color: #ffffff;
    margin-bottom: 30px;
}

.slider-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 20px;

    color: rgb(255, 255, 255);
}

.slider-inner {
    position: relative;
}

.default-btn {
    background-size: 3000px;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 12px 50px 12px 50px;
    z-index: 2;
    cursor: pointer;
    border: 2px solid;
}

.default-btn:hover {
    color: rgb(200, 200, 200);
}

/*main end*/


/* tours start  */

.tours {
    padding: 1.5rem 15rem;
    min-height: 1150px;
}

.tours-top {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tours-title {
    font-size: 35px;
    font-weight: 700;
}

.tours-btn {
    margin-bottom: 10px;
}

.tours__btn a {
    color: #eee;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    font-weight: 500;
    background-color: #c03;
    border: 2px solid #c03;
}

.tours__btn a:hover {
    color: #c03;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c03;
}

.box-tour img {
    width: 80px;
}

.tours .box-conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box-tour {
    flex: 1 1 20rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, .1);
}

.box-tour:hover {
    box-shadow: 5px 30px 56px rgb(55 55 55 / 12%);
}

.box-tour img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    transition: .7s;
}

.box-tour img:hover {

    transform: scale(1.04);
}

.box-conteiner {
    padding-top: 18px
}

.content-tour {
    padding: 1rem 2rem 1rem 2rem;
}

.tours-title p {
    font-size: 35px;
    font-weight: 600;
}

.content-tour h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.content-tour p {
    padding-top: 10px;
    font-size: .9rem;
}

.tours-btn {
    background-size: 3000px;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 4px 18px;
    z-index: 2;
    cursor: pointer;
    border: solid 2px #c03;
    color: #c03;
}

.tours-btn:hover {
    color: #eee;
    background-color: #c03;
    border: 2px solid #c03;
}

/* tours end  */

/* we start  */

.we {
    min-height: 500px;
    background-color: #f1eadc;
    overflow: hidden;
}

.we-img {
    width: 600px;
}



.contein {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 15rem 3rem 15rem;
}

.we-content {
    width: 600px;
    margin: 0px 3rem 0 0;
}

.we-content h3 {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #424141;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 40px;
}

.we-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #424141;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.we-img {
    flex: 1;
    width: 600px;
    margin: auto;
}

.we-img img {
    width: 600px;
    border-radius: 10px;
}

.item-btn1 {
    background-size: 3000px;
    background-color: #c03;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    padding: 12px 50px;
    z-index: 2;
    cursor: pointer;
    border: 2px solid #c03;
}

.item-btn1:hover {
    color: #c03;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c03;
}

/* we end  */


/* about us start  */

/* .us {
    background: #f1eadc;
    background-size: cover;
    background-position: center;
    min-height: 350px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.us-inner {
    max-width: 900px;
    padding: 3rem 15rem;
}

.us-title a {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #424141;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 30px;
}

.us-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #424141;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.item-btn1 {
    background-size: 3000px;
    background-color: #c03;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 12px 50px;
    z-index: 2;
    cursor: pointer;
    border: 2px solid #c03;
}

.item-btn1:hover {
    color: #c03;
    background-color: rgb(255, 255, 255);
    border: 2px solid #c03;
}

about end  */



/* services start*/

.services {
    padding: 0 10rem;
    min-height: 440px;
}

.services-img {
    width: 70px;
}

.services-top {
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-title-box {
    max-width: 520px;
    position: relative;
}

.services-title {
    font-size: 35px;
    font-weight: 700;
}

.services-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    color: #050505;
    font-family: 'Poppins', sans-serif;
    padding: 6px 25px;
    z-index: 2;
    text-decoration: underline;
}

.services__item-btn a {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    color: #050505;
    font-family: 'Poppins', sans-serif;
    padding: 6px 25px;
    z-index: 2;
    text-decoration: underline;
}

.services-item {
    flex-basis: calc(33.33% - 20px);
    /* Ширина каждого элемента в ряду, вычетаем отступы */
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 30px;
    position: relative;
    min-height: 250px;
    margin-bottom: 10px;
    /* Уменьшаем отступ между элементами в столбце */
}

.services-item:hover {
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, .1);
}


.services-item-title {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 24px 0;
}


.services-item-text {
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
    font-family: 'Poppins', sans-serif;
}



.services-item-link {
    color: #050505;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}

/* services end */


/* recieve start  */

.recieve {
    background-color: #004047;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.recieve-box {
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    position: relative;
}

.bell img {
    width: 70px;
}

.recieve-title {
    padding-top: 10px;
    color: #eee;
    font-size: 25px;
    font-weight: 400;
}

.recieve-text {
    padding-top: 10px;
    color: #eee;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 10px;
}

.recieve-link a {
    background-size: 3000px;
    background-color: #25d366;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 6px 25px;
    z-index: 2;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid #25d366;
}

.recieve-link a:hover {
    color: #25d366;
    background-color: rgb(255, 255, 255);
    border: 2px solid #25d366;
}

/* recieve-end  */



/* consultation start */

.consultation {
    min-height: 1000px;
    padding-top: 30px;
}

.contact-box {
    display: flex;
    padding-top: 50px;
    margin-bottom: 45px;
}

.consult-title {
    color: #c03;
    font-size: 28px;
}

.contact-left {
    flex-basis: 60%;
    padding: 0 5rem 0 15rem;

}

.contact-left h3 {
    font-size: 28px;
    margin-bottom: 30px;
}

.contact-right img {
    padding-top: 20px;
    width: 600px;
}

.contact-right {
    padding: 0 15rem 0 5rem;
    margin: 0;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

.concult-btn {
    padding-top: 20px;
}

.concult-btn button {
    background-color: #c03;
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 6px 25px;
    z-index: 2;
    cursor: pointer;
    border: 2px solid #c03;
}

.consult-btn button:hover {
    background-color: rgb(255, 255, 255);
    color: #c03;
    border: 2px solid #c03;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
}

/* consultation end  */


/*footer start*/

footer {
    width: 100%;
}

footer .footer {
    background: var(--dark-green);
    padding: 4rem 7rem;
    padding-bottom: 1rem;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--green-color);
    gap: 2rem;
}

footer .footer .container .detail {
    max-width: 32rem;
}

footer .footer .container .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}

footer .footer .container .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .container .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer .container .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #00cee4;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .container .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
}

footer .footer .container h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--white-color);
}

.about-us img {
    width: 25px;
}

footer .footer .container li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .container a {
    color: rgb(255 255 255/80%);
}

footer .footer .container a:hover {
    color: var(--white-color);
}

footer .footer .container span {
    color: #000;
    background: #00cee4;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}

/* footer end  */